@font-face{font-family:"Noto Sans Thai";font-weight:400;src:url(../../fonts/noto-sans-thai-thai-400-normal.woff2) format("woff2")}
@font-face{font-family:"Noto Sans Thai";font-weight:500;src:url(../../fonts/noto-sans-thai-thai-500-normal.woff2) format("woff2")}
@font-face{font-family:"Noto Sans Thai";font-weight:700;src:url(../../fonts/noto-sans-thai-thai-700-normal.woff2) format("woff2")}
@font-face{font-family:"Inter";font-weight:400;src:url(../../fonts/inter-latin-400-normal.woff2) format("woff2")}
@font-face{font-family:"Inter";font-weight:500;src:url(../../fonts/inter-latin-500-normal.woff2) format("woff2")}
@font-face{font-family:"Inter";font-weight:700;src:url(../../fonts/inter-latin-700-normal.woff2) format("woff2")}
